<head>
<link rel="stylesheet" href="/static/maincss.css">

<script src="/static/mainjs.js"></script>
</head>

<h1 class="my-class" id="hello">
Hello World!
</h1>

<p class="another-class" id="paragraph1">
{{someText}}
</p>

<p class="center-para">
Color: <input id="user-color"> <br> <br>
Name: <input id="user-name"> <br> <br>

<button class="big-button" onclick="changeColor()">
    Change Color
</button>

<button class="big-button" onclick="randNum()">
    Random Number
</button>

<button class="big-button" onclick="switchColor()">
    Switch Color
</button>

<button class="big-button" onclick="sentence()">
    Silly Sentence
</button>
</p>

<p class="center-para color-error " id="error"></p>

<p class="center-para random-number" id="demo"></p>

<p class="center-para silly-sentence" id="demo2"></p>

<div class="center-para color-box" id="demobox"></div>

<a href="/">
    <button class="center-para big-button">
        Return to Welcom Webpage Here!
    </button>
</a>
