.my-class{
    text-align: center;
    color: blue;
}

.center-para{
    text-align: center;
    margin-top: 20px;
}

.another-class{
    text-align: center;
    margin-top: 30px;
    background-color: black;
    color: white;
}

.big-button{
    font-size: large;
}

.change-color{
    background-color: white;
    color: rgb(17, 237, 233)
}
.random-number{
    background-color: white;
    color: #8A6DC9;
}

.color-box{
    background-color: orange;
    width: 500px;
    height: 500px;
}

.switch-mode{
    background-color: green;
}

.silly-sentence{
    background-color: white;
    color: #7895B2;
}